.signInSignUpButton {
  @apply text-main-red  border-2 border-main-red rounded-lg;
  padding: 8px 16px;
  width: 109px;
  height: 35px;
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
  line-height: 19px;
}

